# Copyright (c) 2025-2026 Mark Buckwell, Zensical and contributors
# SPDX-License-Identifier: MIT
# All contributions are certified under the DCO

# -----------------------------------------------------------------------------
# Rust, Python
# -----------------------------------------------------------------------------

# Environments
.venv

# Artifacts
/target
__pycache__
*.dll
*.so

# Tracing
trace.json

# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Never ignore .gitkeep files
!**/.gitkeep

# macOS internals
.DS_Store

# Temporary files
tmp
.cache/
public/
docs/*.pdf