# Copyright (c) 2025-2026 Mark Buckwell, Zensical and contributors
# SPDX-License-Identifier: MIT

# File to list prerequisites for the project. This file is used by the CI/CD pipeline to install dependencies before building the documentation.
zensical
prodockit>=0.6.7
mkdocstrings-python
pandoc
toml
types-toml
weasyprint
beautifulsoup4
emoji
