# Copyright (c) 2025-2026 Mark Buckwell, Zensical and contributors
# SPDX-License-Identifier: MIT
# All contributions are certified under the DCO

# File to list prerequisites for the project. This file is used by the CI/CD pipeline to install dependencies before building the documentation.
zensical
mkdocstrings-python
pandoc
toml
wkhtmltopdf
beautifulsoup4
